/* General */

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Abhaya Libre', serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: black;
}

/* Smooth transition */

a, .button {
    transition: all 300ms ease;
}

/* Desktop navigation  */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a { 
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: darkcyan;
    text-decoration: wavy;
    text-decoration-color: rgb(232, 166, 166);
    cursor: pointer;
}

.logo {
    font-size: 3rem;

}

.logo:hover {
    cursor: default;
}

/* Mobile Navigation */

#mobile-nav {
    display:none;
}

.mobile-menu {
    position: relative;
    display: inline-block;
}

.mobile-icon {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.mobile-icon span {
    width: 10px;
    height: 2px;
    background-color: black;
    transition: opacity .5s ease;
}

.mobile-menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out
}

.mobile-menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out
}

.mobile-menu-links li {
    list-style: none;
}

.mobile-menu-links.open {
    max-height: 300px;
}

.mobile-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.mobile-icon.open span:nth-child(2) {
    opacity: 0;
}

.mobile-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.mobile-icon span:first-child {
    transform: none;
}

.mobile-icon span:first-child {
    opacity: 1;
}

.mobile-icon span:first-child {
    transform: none;
}

/* Hero section */

.section-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #95e66454;
}

.section-text-1 {
    display: flex;
    justify-content: flex-start;
    font-size: large;
}

.section-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
}

.hero-picture {
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 40px;
    
}

.section-text-2 {
    font-size: medium;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-1 {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.about {
    display: flex;
}

#about-me {
    display: flex;
    justify-content: center;
}

.filler {
    display: flex;
    flex-grow: 2;
    min-width: 600px;
    justify-content: space-between;
}

.about-title {
    display: flex;
    font-size: xx-large;
    margin: 30px;
    top:50%;
    transform:translateY(-50%);
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.about-picture {
    display: flex;
    max-width: 50%;
    height: auto;
    margin: 0;
    padding: 40px;
}

.about-info {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.about-experience, .about-education {
    max-width: 30%;

}